{%  extends 'base.html' %}

{% block content %}
    {% if error %}
        <h3 style="color: #e02929; text-align: center; margin-top:2%">{{ error }}</h3>
    {% else %}
        <form method="post" action="{% url 'update_ticket_vouchers' ticket_info.code %}">  
            {% csrf_token %}
            <div style="margin: auto; margin-top: 2%; text-align: center">
                {% if not user.is_authenticated %}
                    <a class="btn btn-outline-dark" href="{% url 'login' %}?next={{ request.path }}">For partners</a>
                    <br>
                {% endif %}
                <br>
                {% if user.is_staff %}
                    <label for="holder">Ticket holder:</label>
                    <input type="text" name="holder" id="holder" value="{{ ticket_info.holder }}">
                    <br>
                {% else %}    
                    <h3><span style="font-size: 14pt">Ticket holder: </span>{{ ticket_info.holder }}</h3>
                {% endif %}
                <br>
                <h5>Ticket number: {{ ticket_info.number }}</h5>
                <br>
                <h5>Ticket code: {{ ticket_info.code }}</h5>
                <br>
                <h5>Package: {{ ticket_info.package }}</h5>
                <br>
                <h5>price:  {{ ticket_info.package.price }}</h5>
            </div>
            <div style="margin: auto; margin-top: 5%;  text-align: center">
                {% if vouchers %}
                  <h4>Vouchers:</h4>
                        <br>
                        <ul style="list-style: none;" class="col-12 col-md-8 offset-md-2">
                        {% for voucher in vouchers %}
                            {% if user == voucher.partner.user or user.is_superuser %}
                                <li>
                                    <div class="row col-12  col-md-10 offset-md-1" style="display: block ruby; margin-top:2%">
                                        <div class="col-2 col-md-4" >
                                            {% if voucher.partner.image %}
                                                    <img src="{{ voucher.partner.image.url }}" alt="{{ voucher.partner.name }} Image">
                                            {% else %}
                                                    <p></p>
                                            {% endif %}
                                        </div>

                                        <div class="col-3 col-md-4">&nbsp; {{ voucher.partner }} &nbsp;</div>

                                        <div class="col-6 col-md-4">
                                            <select class="form-select" style="" name="voucher_status_{{ voucher.id }}">
                                                <option value="active" {% if voucher.status == 'active' %}selected{% endif %}>Active</option>
                                                <option value="used" {% if voucher.status == 'used' %}selected{% endif %}>Used</option>
                                                <!--<option value="expired" {% if voucher.status == 'expired' %}selected{% endif %}>Expired</option>-->
                                            </select>
                                    </div>
                                </li>
                            {% else %}
                                <li>
                                    <div class="row col-12  col-md-10 offset-md-1">
                                        {% if voucher.partner.image %}
                                            <div class="col-2 col-md-4">
                                                <img src="{{ voucher.partner.image.url }}" alt="{{ voucher.partner.name }} Image">
                                            </div>
                                        {% else %}
                                            <p></p>
                                        {% endif %}

                                        <p style="" class="col-3 col-md-4">{{ voucher.partner }}</p>

                                        <span class="col-6 col-md-4" style="color:
                                            {% if voucher.status == 'active' %}
                                                green
                                            {% elif voucher.status == 'used' %}
                                                rgba(114,53,227,0.89)
                                            {% elif voucher.status == 'expired' %}
                                                red
                                            {% endif %};">
                                            {{ voucher.status|title }}
                                        </span>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                      </ul>
                      {% if user.is_authenticated %}  
                        <button type="submit" class="btn btn-outline-dark" style="margin-top: 2%">Update Vouchers</button>
                      {% endif %}
                    </form>
                {% else %}
                  <p>No vouchers found for this ticket.</p>
                {% endif %}
            </div>
    {% endif %}
{% endblock %}